<!DOCTYPE html>
<html>
<head>
  <title>Dicemasters</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<% if current_user%>
		Welcome <%= current_user.email %>, <%= link_to 'Logout', destroy_user_session_path,
                    method: :delete %>
	<% else %>
	<p>		
		<%= form_for(:user, :url => session_path(:user)) do |f| %>
		  <%= f.text_field :email %>
		  <%= f.password_field :password %>
		  <%= f.check_box :remember_me %>
		  <%= f.label :remember_me %>
		  <%= f.submit 'Sign in' %>
		  <%= link_to "Forgot your password?", new_password_path(:user) %>
		<% end %>	
	</p>		
	<% end%>

<%= yield %>

</body>
</html>
